<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Budget to Zero</title>

<!-- CSS -->
    <link rel="stylesheet" href="./css/pure.css">
    <link rel="stylesheet" href="./css/main.css">

<!-- JS -->
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-router/dist/vue-router.js"></script>
    <script src="./store/index.js"></script>
  </head>
  <body>
    <!-- APP -->
    <div id="app">
      <nav class="pure-menu sidebar">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">Transactions</li>
          <li class="pure-menu-item">Accounts</li>
          <li class="pure-menu-item">Reports</li>
        </ul>
      </nav>
      <div id="content">
      <h1>Transactions</h1>
      <table class="pure-table pure-table-striped">
      <thead>
          <tr>
              <th>Date</th>
              <th>Target</th>
              <th>Category</th>
              <th>Memo</th>
              <th>Flow</th>
              <th>Delete</th>
          </tr>
          <tr v-on:keyup.enter="addTransaction">
              <th><input v-model="transaction" placeholder="{{ new Date() }}"></th>
              <th><input v-model="transaction" placeholder="target"></th>
              <th><input v-model="transaction" placeholder="category"></th>
              <th><input v-model="transaction" placeholder="memo"></th>
              <th><input v-model="transaction" placeholder="flow"></th>
          </tr>
      </thead>
      <tbody>
          <tr v-for="transaction in transactions">
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.target }}</td>
              <td>{{ transaction.category }}</td>
              <td>{{ transaction.memo }}</td>
              <td>{{ transaction.flow }}</td>
              <td><button>X</button></td>
          </tr>
      </tbody>
    </table>
    <h3>Running Balance: {{ balance ? "$"+balance : "$0" }}</h3>
  </div>

  </div>



    <!-- Scripts -->
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./components/transaction.js"></script>
  </body>
</html>
